/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide ion-img {
  max-width: 20em;
}

.swiper-slide h1 {
  font-size: 28px;
  font-family: "Metropolis", sans-serif;
  color: #20123a;
}

.swiper-slide ion-text {
  font-family: "Inter", sans-serif;
}

.swiper-pagination-bullet-active {
  background-color: var(--ion-color-primary) !important;
}

#MyGardenTitle {
  font-family: "Bebas Neue", cursive !important;
  font-size: 40px;
}

@media (prefers-color-scheme: dark) {
  .swiper-slide h1 {
    font-size: 28px;
    font-family: "Metropolis", sans-serif;
    color: white;
  }

  .swiper-pagination-bullet {
    background-color: white;
  }
}
