<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-content>
  <swiper #swiper [config]="config" class="w-100 h-100">
    <ng-template swiperSlide>
      <figure>
        <ion-img
          class="mx-auto d-block"
          src="./../assets/welcome_screen/welcome.svg"
        ></ion-img>
        <figcaption class="text-center">
          <h1 class="pt-5" id="MyGardenTitle">in MyGarden !</h1>
        </figcaption>
      </figure>
    </ng-template>
    <ng-template swiperSlide>
      <figure>
        <ion-img
          class="mx-auto d-block"
          src="{{
            isDarkModeEnable
              ? './../assets/welcome_screen/around_the_world_re_rb1p_black.svg'
              : './../assets/welcome_screen/around_the_world_re_rb1p.svg'
          }}"
        >
        </ion-img>
        <figcaption class="text-center">
          <div class="row justify-content-center">
            <div class="col-11">
              <h1 class="p-2 pt-5">
                {{ "WELCOME_SCREEN.swipe2.title" | translate }}
              </h1>
            </div>
            <div class="col-10 align-self-center">
              <ion-list class="d-flex" lines="none" slot="content">
                <ion-radio-group
                  (ionChange)="onSwitchLanguage($event)"
                  [value]="selectedLanguage"
                  allow-empty-selection="false"
                  class="w-100"
                  name="radio-group"
                >
                  <ion-item>
                    <ion-label>English</ion-label>
                    <ion-radio
                      color="primary"
                      slot="start"
                      value="en"
                    ></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>French</ion-label>
                    <ion-radio
                      color="primary"
                      slot="start"
                      value="fr"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </div>
        </figcaption>
      </figure>
    </ng-template>
    <ng-template swiperSlide>
      <figure>
        <ion-img
          class="mx-auto d-block"
          src="{{
            isDarkModeEnable
              ? './../assets/welcome_screen/gardening_black.svg'
              : './../assets/welcome_screen/gardening.svg'
          }}"
        >
        </ion-img>
        <figcaption class="text-center">
          <div class="row justify-content-center">
            <div class="col-11">
              <h1 class="p-2 pt-5">
                {{ "WELCOME_SCREEN.swipe3.title" | translate }}
              </h1>
            </div>
            <div class="col-10 align-self-center">
              <ion-text class="p-3"
                ><strong>MyGarden</strong>
                {{ "WELCOME_SCREEN.swipe3.subtitle" | translate }}
              </ion-text>
            </div>
          </div>
        </figcaption>
      </figure>
    </ng-template>
    <ng-template swiperSlide>
      <figure>
        <ion-img
          class="mx-auto d-block"
          src="{{
            isDarkModeEnable
              ? './../assets/welcome_screen/loving_story_black.svg'
              : './../assets/welcome_screen/loving_story.svg'
          }}"
        >
        </ion-img>
        <figcaption class="text-center">
          <div class="row justify-content-center">
            <div class="col-10 align-self-center">
              <div class="col-11">
                <h1>We love Open Source</h1>
              </div>
              <ion-text
                ><strong>MyGarden</strong>
                {{ "WELCOME_SCREEN.swipe4.subtitle" | translate }}
              </ion-text>
            </div>
          </div>
        </figcaption>
      </figure>
      <div class="col-9 col-md-4">
        <ion-button (click)="start()" color="primary" expand="block">
          {{ "WELCOME_SCREEN.swipe4.btnStart" | translate }}
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </swiper>
</ion-content>
