<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-toolbar>
  <ion-title>{{ vegetable.name }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <figure>
    <ion-img
      [src]="vegetable.imagePath"
      class="p-3 mb-5 rounded mx-auto d-block vegetable-button"
    ></ion-img>
  </figure>

  <ion-segment
    (ionChange)="onSegmentChanged()"
    [(ngModel)]="segmentValue"
    value="ID"
  >
    <ion-segment-button value="ID">
      <ion-label>{{ "TAB1.modal.IDCard.title" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button class="gardenSectionTour" value="garden">
      <ion-label>{{ "TAB1.modal.inGarden.title" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>{{ "TAB1.modal.about.title" | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentValue">
    <div *ngSwitchCase="'ID'">
      <app-general
        (vegetableSelected)="onChangeVegetable($event)"
        [vegetable]="vegetable"
      ></app-general>
    </div>

    <div *ngSwitchCase="'garden'">
      <app-in-garden [vegetable]="vegetable"></app-in-garden>
    </div>

    <div *ngSwitchCase="'history'">
      <app-about [vegetable]="vegetable"></app-about>
    </div>
  </div>
</ion-content>
