<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-card>
  <ion-card-content>
    {{ vegetable.synopsis }}
  </ion-card-content>

  <ion-card-header>
    <ion-card-title>{{
      "TAB1.modal.IDCard.usefulInformation.title" | translate
    }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="infoContainer wrap-flex quickInfoTour">
    <ion-chip class="text-center" color="primary" outline>
      <ion-label>
        <ion-icon name="calendar-clear-outline"></ion-icon>
        <strong>
          {{ "TAB1.modal.IDCard.usefulInformation.season" | translate }}</strong
        >
        <br />
        <div *ngIf="seasonString.length === 2">
          {{ seasonString[0] }} -
          {{ seasonString[1] }}
        </div>
        <div *ngIf="seasonString.length === 1">
          {{ seasonString[0] }}
        </div>
      </ion-label>
    </ion-chip>

    <ion-chip *ngIf="vegetable.preservation !== null" color="secondary" outline>
      <ion-label>
        <ion-icon name="time-outline"></ion-icon>
        <strong>
          {{ "TAB1.modal.IDCard.usefulInformation.preservation" | translate }}
        </strong>
        <br />
        {{ vegetable.preservation }}
      </ion-label>
    </ion-chip>

    <ion-chip *ngIf="vegetable.vitamin !== null" color="tertiary" outline>
      <ion-label>
        <ion-icon name="flash-outline"></ion-icon>
        <strong>
          {{
            "TAB1.modal.IDCard.usefulInformation.vitamin" | translate
          }}</strong
        >
        <br />
        {{ vegetable.vitamin }}
      </ion-label>
    </ion-chip>

    <ion-chip *ngIf="vegetable.nutritional !== null" color="success" outline>
      <ion-label>
        <ion-icon name="barbell-outline"></ion-icon>
        <strong>
          {{
            "TAB1.modal.IDCard.usefulInformation.nutritionalIntake" | translate
          }}</strong
        >
        <br />
        {{ vegetable.nutritional }}
      </ion-label>
    </ion-chip>

    <ion-chip color="warning" outline>
      <ion-label>
        <ion-icon name="people-outline"></ion-icon>
        <strong>
          {{ "TAB1.modal.IDCard.usefulInformation.family" | translate }}</strong
        >
        <br />
        {{ vegetable.family }}
      </ion-label>
    </ion-chip>
  </ion-card-content>

  <ion-card-header>
    <ion-card-title>{{
      "TAB1.modal.IDCard.favorableAndUnfavorableAssociation.title" | translate
    }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="infoContainer wrap-flex associationsTour">
    <p *ngIf="vegetable.cultureSheets.favourableAssociation">
      <ion-icon name="accessibility-outline"></ion-icon>
      <strong>
        {{
          "TAB1.modal.IDCard.favorableAndUnfavorableAssociation.subtitle1"
            | translate
        }}</strong
      >
      <br />
      <ion-chip
        (click)="updateModal(this.ally)"
        *ngFor="let ally of vegetable.cultureSheets.favourableAssociation"
        color="secondary"
      >
        <ion-label> {{ ally }} </ion-label>
      </ion-chip>
    </p>

    <p *ngIf="vegetable.cultureSheets.favourablePrecedents">
      <ion-icon name="accessibility-outline"></ion-icon>
      <strong>
        {{
          "TAB1.modal.IDCard.favorableAndUnfavorableAssociation.subtitle3"
            | translate
        }}</strong
      >
      <br />
      <ion-chip
        (click)="updateModal(this.ally)"
        *ngFor="let ally of vegetable.cultureSheets.favourablePrecedents"
        color="secondary"
      >
        <ion-label> {{ ally }} </ion-label>
      </ion-chip>
    </p>

    <p *ngIf="vegetable.cultureSheets.unfavourableAssociation">
      <ion-icon name="bug-outline"></ion-icon>
      <strong>
        {{
          "TAB1.modal.IDCard.favorableAndUnfavorableAssociation.subtitle2"
            | translate
        }}</strong
      >
      <br />
      <ion-chip
        (click)="updateModal(this.enemy)"
        *ngFor="let enemy of vegetable.cultureSheets.unfavourableAssociation"
        color="danger"
      >
        <ion-label> {{ enemy }} </ion-label>
      </ion-chip>
    </p>

    <p *ngIf="vegetable.cultureSheets.unfavourablePrecedents">
      <ion-icon name="bug-outline"></ion-icon>
      <strong>
        {{
          "TAB1.modal.IDCard.favorableAndUnfavorableAssociation.subtitle4"
            | translate
        }}</strong
      >
      <br />
      <ion-chip
        (click)="updateModal(this.enemy)"
        *ngFor="let enemy of vegetable.cultureSheets.unfavourablePrecedents"
        color="danger"
      >
        <ion-label> {{ enemy }} </ion-label>
      </ion-chip>
    </p>
  </ion-card-content>
</ion-card>
