<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<!--seasonal Vegetables -->
<ion-card-header>
  <ion-card-title
    ><strong>{{ "TAB1.subtitle1" | translate }}</strong></ion-card-title
  >
</ion-card-header>
<div
  class="d-flex overflow-scroll seasonalVegetableTour"
  id="seasonalVegetablesContainer"
>
  <app-vegetable-item
    (vegetableSelected)="onVegetableSelected(vegetable)"
    *ngFor="let vegetable of seasonalVegetables"
    [vegetable]="vegetable"
    class="d-inline-block m-2"
  >
  </app-vegetable-item>
</div>

<!--All vegetables-->
<ion-card-header>
  <ion-card-title
    ><strong>{{ "TAB1.subtitle2" | translate }}</strong></ion-card-title
  >
  <ion-chip
    (click)="onSwitch('fruit')"
    [outline]="!filtersSelected.includes('fruit')"
    color="secondary"
  >
    <ion-label color="dark">{{ "TAB1.Fruit" | translate }}</ion-label>
  </ion-chip>
  <ion-chip
    (click)="onSwitch('vegetable')"
    [outline]="!filtersSelected.includes('vegetable')"
    color="secondary"
  >
    <ion-label color="dark">{{ "TAB1.Vegetable" | translate }}</ion-label>
  </ion-chip>
  <ion-chip
    (click)="onSwitch('plant')"
    [outline]="!filtersSelected.includes('plant')"
    color="secondary"
  >
    <ion-label color="dark">{{ "TAB1.Plant" | translate }}</ion-label>
  </ion-chip>

  <!--  Vegetables filter A-Z or Z-A-->
  <ion-button
    (click)="onUpdateButton()"
    class="position-absolute end-0"
    color="dark"
    fill="clear"
  >
    <ion-icon class="m-1" name="filter-outline"></ion-icon>
    <strong *ngIf="vegetableView === 'ascending'">A-Z</strong>
    <strong *ngIf="vegetableView === 'descending'">Z-A</strong>
  </ion-button>
</ion-card-header>
<div class="d-flex flex-wrap justify-content-evenly allVegetableTour">
  <app-vegetable-item
    (vegetableSelected)="onVegetableSelected(vegetable)"
    *ngFor="let vegetable of vegetablesFiltered"
    [vegetable]="vegetable"
    class="d-inline-block m-1 m-md-2"
    [ngClass]="vegetable.id === 'beetroot' && 'vegetableDetailTour'"
  >
  </app-vegetable-item>
</div>
