ion-tab-bar {
  width: 90%;
  max-width: 40em;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
}

@media (prefers-color-scheme: dark) {
  ion-tabs {
    background-color: var(--ion-background-color);
  }
}
