<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<app-loading *ngIf="isLoading"></app-loading>
<ion-toolbar *ngIf="!isLoading && !!gardenSelected">
  <app-header [gardenSelected]="gardenSelected"></app-header>
</ion-toolbar>

<ion-content *ngIf="!isLoading" [fullscreen]="true">
  <ion-content>
    <ng-template [ngIf]="!gardenSelected">
      <div class="container d-flex align-items-center h-100">
        <div class="row justify-content-center">
          <div class="col-8 col-sm-10 col-md-6 col-xl-4 col-xxl-3">
            <ion-img
              class="mx-auto d-block"
              src="{{
                isDarkModeEnable
                  ? './assets/welcome_screen/get-started_black.svg'
                  : './assets/welcome_screen/get-started.svg'
              }}"
            >
            </ion-img>
          </div>
          <div class="col-10 align-self-center text-center mt-5">
            <div class="col-12">
              <h2>{{ "TAB2.welcome" | translate }}</h2>
            </div>
            <ion-label style="text-align: center">{{
              "TAB2.gettingStarted" | translate
            }}</ion-label>
            <div class="col-md-4 offset-md-4">
              <ion-button
                (click)="addGarden()"
                class="getStartedTour"
                expand="block"
                >{{ "TAB2.addGarden" | translate }}</ion-button
              >
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <app-canvas *ngIf="!!gardenSelected"></app-canvas>

    <!-- fab placed to the bottom end -->
    <ion-fab
      *ngIf="!!gardenSelected"
      horizontal="end"
      slot="fixed"
      vertical="bottom"
    >
      <ion-fab-button (click)="onGardenActions()" color="primary">
        <ion-icon name="build-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!--            For debug ONLY, wipe alle the DB-->
    <!--    <ion-fab horizontal="end" slot="fixed" vertical="top">-->
    <!--      <ion-fab-button (click)="resetStorage()" color="danger">-->
    <!--        <ion-icon name="trash-outline"></ion-icon>-->
    <!--      </ion-fab-button>-->
    <!--    </ion-fab>-->
  </ion-content>
</ion-content>
