<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-toolbar>
  <ion-title>{{
    editMode
      ? ("TAB2.editGardenModal.editGardenTitle" | translate)
      : ("TAB2.editGardenModal.addGardenTitle" | translate)
  }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button
      (click)="gardenForm.valid && onSave()"
      *ngIf="gardenForm"
      [disabled]="!gardenForm.valid"
    >
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
    <div *ngIf="!formIsReady">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
    <form *ngIf="formIsReady" [formGroup]="gardenForm" id="gardenForm">
      <div class="col-xl gardenInfoTour">
        <ion-item class="center-block gardenNameTour">
          <ion-label position="floating">{{
            "TAB2.editGardenModal.gardenName" | translate
          }}</ion-label>
          <ion-input
            formControlName="name"
            id="name"
            spellcheck="true"
            type="text"
          ></ion-input>
        </ion-item>
        <span
          *ngIf="
            !gardenForm.get('name').valid && gardenForm.get('name').touched
          "
          class="help-block"
        >
          <span *ngIf="gardenForm.get('name').errors['required']">
            <ion-icon color="danger" name="alert-circle"></ion-icon>
            <ion-text color="danger"
              >{{ "TAB2.editGardenModal.required" | translate }}
            </ion-text>
          </span>
          <span *ngIf="gardenForm.get('name').errors['nameIsForbidden']">
            <ion-icon color="danger" name="alert-circle"></ion-icon>
            <ion-text color="danger"
              >{{ "TAB2.editGardenModal.nameAlreadyUsed" | translate }}
            </ion-text>
          </span>
          <span *ngIf="gardenForm.get('name').errors['maxlength']">
            <ion-icon color="danger" name="alert-circle"></ion-icon>
            <ion-text color="danger"
              >{{ "TAB2.editGardenModal.tooLong" | translate }}
            </ion-text>
          </span>
          <span *ngIf="gardenForm.get('name').errors['minlength']">
            <ion-icon color="danger" name="alert-circle"></ion-icon>
            <ion-text color="danger"
              >{{ "TAB2.editGardenModal.tooShort" | translate }}
            </ion-text>
          </span>
        </span>
        <ion-item class="gardenDescriptionTour">
          <ion-label position="floating">{{
            "TAB2.editGardenModal.otherInformation" | translate
          }}</ion-label>
          <ion-textarea
            formControlName="description"
            id="description"
          ></ion-textarea>
        </ion-item>
      </div>
      <ion-title class="ion-margin-top">
        {{ "TAB2.editGardenModal.selectVegetables" | translate }}
      </ion-title>
      <ion-list class="vegetableSelectTour">
        <ion-button (click)="onSelectAll()" size="small"
          >{{
            allVegetablesAreSelected
              ? ("TAB2.editGardenModal.unselectAll" | translate)
              : ("TAB2.editGardenModal.selectAll" | translate)
          }}
        </ion-button>
        <ion-item *ngFor="let vegetable of vegetablesForm; let i = index">
          <ion-label>{{ vegetable.name }}</ion-label>
          <ion-checkbox
            [(ngModel)]="vegetable.isChecked"
            [ngModelOptions]="{ standalone: true }"
            slot="start"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
