<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-6 col-sm-8 col-sm-3">
      <ion-select
        (ionChange)="onChangeGarden($event)"
        [value]="gardenSelected.garden.name"
        cancelText="{{ 'TAB2.selectGarden.cancel' | translate }}"
        okText="{{ 'TAB2.selectGarden.ok' | translate }}"
      >
        <ion-select-option *ngFor="let garden of gardens" [value]="garden.name">
          {{ garden.name }}
        </ion-select-option>
      </ion-select>
    </div>
    <div class="col-6 col-sm-3">
      <ion-col>
        <ion-button
          [disabled]="!!gardenSelected === null"
          class="yearTour"
          fill="clear"
          id="popover_button"
        >
          <ion-label style="color: var(--ion-color-dark); text-transform: none">
            {{ "TAB2.selectGarden.year" | translate }} :
            {{ gardenSelected.date.getFullYear() }}
          </ion-label>
        </ion-button>
      </ion-col>
    </div>
    <ul class="overflow-scroll d-flex gap-3 justify-content-center">
      <li *ngFor="let month of months; let i = index" class="list-unstyled">
        <input
          (click)="onChangeMonth(gardenSelected.garden.extra.plantingMonth[i])"
          [checked]="
            gardenSelected.garden.extra.plantingMonth[i] ===
            gardenSelected.date.getMonth()
          "
          [value]="month"
          [id]="gardenSelected.garden.extra.plantingMonth[i]"
          class="d-none"
          name="selected_month"
          type="radio"
        />
        <label [for]="gardenSelected.garden.extra.plantingMonth[i]">
          {{ month }}
        </label>
      </li>
    </ul>
  </div>

  <!--  popover (year)-->
  <ion-popover trigger="popover_button">
    <ng-template>
      <ion-datetime
        #dateTime
        (ionChange)="onChangeYear(dateTime.value)"
        [max]="getEndTime()"
        [min]="getStartTime()"
        [value]="gardenSelected.date.getFullYear()"
        max="2030"
        presentation="year"
      >
      </ion-datetime>
    </ng-template>
  </ion-popover>
</div>
