<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-app>
  <lottie-player
    mode="normal"
    src="/assets/lottie/confetti.json"
    style="width: 80vh; position: absolute; top: 0; z-index: -999"
  >
  </lottie-player>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
