<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-card>
  <ion-card-header>
    <ion-card-title>{{
      "TAB1.modal.about.subtitle" | translate
    }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ vegetable.history }}
  </ion-card-content>
</ion-card>
