<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<div (click)="onSelected()" class="vegetable-button shadow-sm">
  <figure>
    <ion-img
      [src]="vegetable.imagePath"
      class="w-75 p-3 mx-auto d-block"
    ></ion-img>
    <figcaption class="text-center">
      <ion-label>
        {{ vegetable.name | shorten : 8 | uppercase }}
      </ion-label>
    </figcaption>
  </figure>
</div>
