<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row class="text-center">
        <ion-col>
          <ion-title>{{
            "TAB1.modal.inGarden.planting" | translate | uppercase
          }}</ion-title>
          <ion-text *ngIf="monthOfPlanting.length === 2" color="dark">
            {{ monthOfPlanting[0] }} -
            {{ monthOfPlanting[1] }}
          </ion-text>
          <ion-text *ngIf="monthOfPlanting.length === 1" color="dark">
            {{ monthOfPlanting[0] }}
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-title>{{
            "TAB1.modal.inGarden.harvest" | translate | uppercase
          }}</ion-title>
          <ion-text *ngIf="monthOfHarvest.length === 2" color="dark">
            {{ monthOfHarvest[0] }} -
            {{ monthOfHarvest[1] }}
          </ion-text>
          <ion-text *ngIf="monthOfHarvest.length === 1" color="dark">
            {{ monthOfHarvest[0] }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div
      *ngIf="vegetable.cultureSheets.plantation !== null"
      class="box purple-color shadow"
    >
      <h1>
        <ion-icon src="../../assets/icon/plant-line.svg"></ion-icon>
        {{ "TAB1.modal.inGarden.planting" | translate }}
      </h1>
      <p>{{ vegetable.cultureSheets.plantation }}</p>
      <p *ngIf="vegetable.cultureSheets.plantingInterval !== null">
        <strong>{{ "TAB1.modal.inGarden.interval" | translate }} :</strong>
        {{ vegetable.cultureSheets.plantingInterval }}
        {{ "TAB1.modal.inGarden.years" | translate }}
      </p>
    </div>
    <div
      *ngIf="vegetable.cultureSheets.harvest !== null"
      class="box blue-color shadow"
    >
      <h1>
        <ion-icon src="../../assets/icon/agriculture_white_24dp.svg"></ion-icon>
        {{ "TAB1.modal.inGarden.harvest" | translate }}
      </h1>
      <p>{{ vegetable.cultureSheets.harvest }}</p>
    </div>
    <div
      *ngIf="vegetable.cultureSheets.soil !== null"
      class="box orange-color shadow"
    >
      <h1>
        <ion-icon src="../../assets/icon/favorite_white_24dp.svg"></ion-icon>
        {{ "TAB1.modal.inGarden.soil" | translate }}
      </h1>
      <p>{{ vegetable.cultureSheets.soil }}</p>
    </div>
    <div
      *ngIf="vegetable.cultureSheets.tasks !== null"
      class="box green-color shadow"
    >
      <h1>
        <ion-icon
          src="../../assets/icon/volunteer_activism_white_24dp.svg"
        ></ion-icon>
        {{ "TAB1.modal.inGarden.tasks" | translate }}
      </h1>
      <p>{{ vegetable.cultureSheets.tasks }}</p>
    </div>
  </ion-card-content>
</ion-card>
<p style="font-size: 10px">
  {{ "TAB1.modal.inGarden.dateWarning" | translate }}
</p>
