.box {
  margin: 20px 5px 0px 5px;
  border-radius: 20px;
  padding: 10px;
}

.purple-color {
  color: white;
  background-color: #382040;
}

.blue-color {
  color: white;
  background-color: #134683;
}

.orange-color {
  color: white;
  background-color: #cfb11b;
}

.green-color {
  color: white;
  background-color: #0ba520;
}
